mk () {
  mkdir "$1"
  cd "$1"
}

alias ga="git add -A"
alias gs="git status"
alias gc="git commit -m"
alias s="git status -s"


function lazygit() {
    git add .
    git commit -a -m "$1"
    git push
}
alias sync="browser-sync start --server '.' --files '*'"
